.sidebar {
  position: fixed;
  left:0;
  bottom:0;
  top:55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgba(125, 125, 125, 0.15);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
